.rubber-band-balls button
{
  margin: 30px auto;
  padding: 10px 5%;
  box-shadow: 0px 5px 0px 0px #488f35;
	background: #44c767;
	background-color:#44c767;
	border-radius:32px;
	border:3px solid #4c924c;
	cursor: pointer;
	color:#fff;
	font-size: 24px;
  line-height: 34px;
	font-weight: bold;
	text-decoration: none;
	text-shadow:1px 0px 0px #2f6627;
}

.rubber-band-balls button:hover {
  background-color: #49d46e;
}

.rubber-band-balls button:active {
  background-color: #3bad5a;
  box-shadow: none;
  transform: translateY(4px);
}

#home-button
{
  float: left;
  margin-left: 10%;
  letter-spacing: 2px;
}

#random-button
{
  /* display: block; */
  /* width: 50%; */
  float: right;
  margin-right: 10%;
  letter-spacing: 5px;
}
