.rubber-band-balls button
{
  margin: 30px auto;
  padding: 10px 5%;
	border-radius: 32px;
	cursor: pointer;
	color: #fff;
	font-size: 24px;
  line-height: 34px;
	font-weight: bold;
	text-decoration: none;
}

#home-button
{
  float: left;
  margin-left: 10%;
  letter-spacing: 2px;

	background-color: #0fb8b6;
  border:3px solid #0e8d8b;
  box-shadow: 0px 5px 0px 0px #0e8d8b;
  text-shadow: 1px 0px 0px #086463;
}

#home-button:active
{
  box-shadow: none;
  transform: translateY(4px);
}

#home-button:hover {
  background-color: #1fc0bd;;
}

#random-button
{
  float: right;
  margin-right: 10%;
  letter-spacing: 5px;

  background-color: #71cc44;
  border:3px solid #4c924c;
  box-shadow: 0px 5px 0px 0px #488f35;
  text-shadow: 1px 0px 0px #35611f;
}

#random-button:active
{
  box-shadow: none;
  transform: translateY(4px);
}

#random-button:hover {
  background-color: #7dce54;
}
