#app-logo
{
  width: 30vh;
}

h1
{
  font-size: 5vh;
}

h1 > span
{
  position: relative;
  top: -4vh;
  color: transparent;

  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
}

#rubber-band-balls-link
{
  color: white;
  text-decoration: none;
}

#rubber-band-ball-icon
{
  width: 125px;
}

button
{
  margin: 30px auto;
  padding: 10px 5%;
	border-radius: 32px;
	cursor: pointer;
	color: #fff;
	font-size: 24px;
  line-height: 34px;
	font-weight: bold;
	text-decoration: none;
  letter-spacing: 2px;
}

.home-button
{
  float: left;
  margin-left: 10%;

	background-color: #0fb8b6;
  border:3px solid #0e8d8b;
  box-shadow: 0px 5px 0px 0px #0e8d8b;
  text-shadow: 1px 0px 0px #086463;
}

.home-button:active
{
  box-shadow: none;
  transform: translateY(4px);
}

.home-button:hover {
  background-color: #1fc0bd;;
}

.activate-button
{
  float: right;
  margin-right: 10%;

  background-color: #71cc44;
  border:3px solid #4c924c;
  box-shadow: 0px 5px 0px 0px #488f35;
  text-shadow: 1px 0px 0px #35611f;
}

.activate-button:active
{
  box-shadow: none;
  transform: translateY(4px);
}

.activate-button:hover {
  background-color: #7dce54;
}
