#randomBtn
{
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 20px 76px;

  box-shadow: 2px 4px 0px 0px #488f35;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:32px;
	border:3px solid #4c924c;
	cursor:pointer;
	color:#fff;
	font-family: Arial;
	font-size: 24px;
  line-height: 34px;
	font-weight: bold;
  text-transform: uppercase;
	text-decoration: none;
	text-shadow:1px 0px 0px #2f6627;
}

.myButton:active {
	position: relative;
	top: 4px;
}
